@import "variables";

#introduction {
  display: flex;
	justify-content: space-between;
	align-items: center;
  
	#image-introduction {
		max-width: 700px;
		margin-right: -100px;
		overflow: hidden;
	}

	section {
    margin: 0 auto;
		max-width: 600px;
		h1 {
			font-size: clamp(2.3em, 10vw, 5em);
			overflow: hidden;
			line-height: 1.1em;
		}
    p {
			color: $grayishViolet;
			font-size: 20px;
			max-width: 500px;
    }
		button {
			margin-top: 30px;
			background-color: $cyan;
			color: white;
			border: none;
			border-radius: 30px;
			padding: 10px 30px;
			cursor: pointer;
			transition: 0.3s;
			font-size: 18px;
			font-weight: 700;
			&:hover {
				filter: opacity(0.5);
			}
		}
	}
}
