* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	color: $veryDarkViolet;
	overflow-x: hidden; /*hiddes horizontal scrollbar*/
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

button {
	@include btn-cyan;
	border-radius: 30px;
	padding: 10px 30px;
	font-size: 18px;
	font-weight: 700;
}
